---
layout: default
title: Blog
permalink: /blog/
---

{% include subpage-header.html %}


<!-- contact form start -->

<div class="container main_container_padding">


  <article id="post">
    <div class="container">

      <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">


          <hr>

          <!-- Date/Time -->
          <p><span class="glyphicon glyphicon-time"></span> Posted on {{page.date | date: "%B %d, %Y"}}</p>

          <hr>

          <!-- Preview Image -->
          {% if page.image %}
          <img class="img-responsive" src="{{ page.image }}" alt="{{ page.image }}">

          {% endif %}

          <hr>

          <!-- Post Content -->
          {% if page.lead %}

          <p class="lead">{{ page.lead }}</p>
          {% endif %}

          {{ page.content }}


          <hr>


          {% if page.previous %}
          <span class="previous-link">
            <a rel="prev" href="{{ page.previous.url }}">Previous article</a>
          </span>
          {% endif %}

          {% if page.next %}
          <span class="next-link pull-right">
            <a rel="next" href="{{ page.next.url }}">Next article</a>
          </span>
          {% endif %}

          <hr>
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">


        </div>

        <!-- Side Widget Well -->


      </div>

    </div>
    <!-- /.row -->
</div>
</article>
</div>





<!-- footer Start -->